{# 템플릿 태그는 정적 파일의 절대경로 URL을 생성 #}

{% load static %}

{#    장고에서 생성되지 않는 정적 파일에는 사용할수 가없다. #}
{#    정직 파일의 경로 묶음을 수정하지 않고도 정적 템프릿 #}
{# 태그에서 해당 URL을 생성할 수 있으므로 항상 상대 경로를 사용하여 정적파일을 서로 연결합니다. #}


<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>url 템플릿 태그 적용 전</li>
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        <br>
        <li>url 템플릿 태그 적용 후, 네임 스페이스 적용 전</li>
        {#<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>#}
        <br>
        <li>네임 스페이스 적용 후</li>
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}